<div class="heading1">
    <div class="text1">
        <h1>
            Este es un primer heading para captar tu atención.
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore iure sequi a quis officia officiis quas
            explicabo ipsa libero maiores rerum aliquam, nesciunt nemo beatae sapiente ad aliquid tempora eos!
        </p>
    </div>
    <div class="imagen1">
        <img class="img1" src="https://static.wikia.nocookie.net/breakingbad/images/3/3a/Alfombra-breaking-bad-mod3-large2.jpg/revision/latest?cb=20190622081645&path-prefix=es">
    </div>
</div>